* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #eee7ef;
  background-color: #120833;
}

html,
body {
  width: 100%;
}

h1,
h2,
h3 {
  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 6px;
  width: 100%;
}

h3 {
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 6px;
  width: 100%;
}
